fastapi
uvicorn
pandas
requests
beautifulsoup4
sentence-transformers
scikit-learn
python-multipart
tabula-py
PyMuPDF
Pillow
fuzzywuzzy
httpx
gitpython
github
subprocess
numpy
tiktoken
markdownify
gzip
sqlite3
docker
